



*, *::after, *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// Import Global styles.
@import './global';



// Import Header Styles.
@import './HeaderStyles/header-styles';

// Importing Footer Styles.

@import './FooterStyles/footer-styles';

// Import HomePage Styles
@import './HomeStyles/homepage-styles';


// Import Responsive Styles for Footer & Header

@import './ResponsiveStyles/FooterStyles/footer-styles';
@import './ResponsiveStyles/HeaderStyles/header-styles';

// Import Responsive Styles

@import './ResponsiveStyles/HomeStyles/responsive-375px-styles';
@import './ResponsiveStyles/HomeStyles/responsive-425px-styles';
@import './ResponsiveStyles/HomeStyles/responsive-768px-styles';

